body{
    background-color: aqua;
}

#header ul{
    background-color: black;
}
#header{
    text-decoration: none;
    font-color: white;
    display: block;
}
#header a:hover{
    font-size: 20px;
}